body {
  font-family: Montserrat;
  color: #312013;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 900;
}

/*headings*/
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/*navigation bar*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  color: #312013;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  line-height: 1.5;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #312013;
  font-size: 1.4rem;
}

/*hero*/
.hero {
  background-color: #f4a261;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.title-img {
  border: solid black 5px;
 border-radius: 5%;
 max-height: 55%;
 transform: rotate(33deg);
 position: absolute;
 right: 35%;
}

/*download buttons*/

.download-button {
  margin: 5% 3% 5% 0;
}

.btn-dark {
  background-color: #312013;
}

.btn-dark:hover {
  background-color: #624127;
}

.btn-outline-light {
color: #fce3d0;
border-color: #fce3d0;
}

.btn-outline-dark {
color: #312013;
border-color: #312013;
}

.btn-outline-dark:hover {
color: #fff;
background-color: #f7be90;
border-color: #f7be90;
}

/*features*/

.features {
  padding: 3% 15%;
  background-color: #fdecdf;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #dc9257;
  height: 3rem;
  margin-bottom: 0.5rem;
  width: 3rem;
}

/*testimonials*/

.testimonials {
  background-color: #dc9257;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
    padding: 7% 15%;
}

/*press*/

.press {
  background-color: #dc9257;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/*pricing*/

.pricing {
  padding: 100px;
  background-color: #fdecdf;
}

.pricing-subtitle {
  font-size: 1.2rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.2;
}

.pricing-column {
  padding: 3% 2%;
}

.card-header {
  background-color: #f4a261;
}

.card-body {
  background-color: #fbdac0;
}


/*media*/
@media (max-width: 1500px) {

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 1028px) {

  .hero {
    text-align: center;
  }


  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/*cta*/

.cta {
  background-color: #dc9257;
  color: #312013;
  padding: 7% 15%;
}

/*footer*/

.footer {
  background-color: #fdecdf;
  padding: 3% 15%;
}

.social-icon {
  margin: 16px 10px 20px 10px;
}
